<h1>オススメの音楽</h1>
<h2>
    機能
</h2>
<ol>
    <li>オススメ音楽の表示</li>
    <li>購入した音楽、お気に入りの音楽、よかった！した音楽、お気に入りの作者から判定したオススメ音楽</li>
</ol>
<div>※１．同じ音楽を購入したユーザー、同じ音楽をお気に入りに入れているユーザー、
<br>同じ音楽をよかった！しているユーザーの購入した音楽、お気に入りの音楽、
<br>よかった！した音楽の中からランダムに抽出してオススメする。</div>
<div>※２．音楽に登録されたタグに対応する数値からベクトルを作成する。
<br>購入した音楽、お気に入りの音楽、よかった！した音楽のベクトルに近い
<br>ベクトルを持つ音楽をオススメする。</div>
<h2>
    リンク
</h2>
<ol>
    <li><a href="">音楽再生画面</a></li>
</ol>
