<h1>メロディー閲覧</h1>
<h2>
    機能
</h2>
<ol>
    <li>メロディーデータの一覧表示</li>
    <li>様々な条件でのソート機能</li>
    <li>元音楽のランキングとメロディーデータでのランキング表示
        <div>またその２つのランキング表示をした時の順位の比較</div>
    </li>
    <li>元音楽のいいね評価のグラフ表示</li>
</ol>
<h2>
    リンク
</h2>
<ol>
    <li><a href="">音楽再生画面</a></li>
</ol>