<h1>オススメのユーザー</h1>
<h2>
    機能
</h2>
<ol>
    <li>購入した音楽、お気に入りの音楽、よかった！した音楽、
    <br>お気に入りの作者から判定したオススメユーザーの表示
    </li>
</ol>
<h2>
    リンク
</h2>
<ol>
    <li><a href="">オススメユーザーのマイページ</a></li>
</ol>

