<h1>マイページ</h1>

<aside class="sidebar">
  <section>
    <span class="label">ユーザー</span>
    <h3 class="user-info"><%= @user.name %></h3>
  </section>
  
  <section>
    <span class="label">メールアドレス</span>
    <h3 class="user-info"><%= @user.email %></h3>
  </section>

  <% if current_user.id == @user.id %>
  <section>
    <small><%= link_to 'プロフィールを編集', edit_user_path(@user) %></small>
  </section>
  <% end %>

</aside>

<ul class="sounds">
  <!-- ここで@notesに対してeachメソッドを用いてください -->
  <% @sounds.each do |sound|%>
    <li><%= link_to sound.title, sound %></li>
  <% end %>
</ul>

<h2>
    機能
</h2>
<ol>
    <li>プロフィール画像</li>
    <li>プロフィール</li>
    <li>お気に入り音楽表示</li>
    <li>お気に入り作者表示</li>
    <li>視聴履歴表示</li>
    <li>投稿リスト表示</li>
    <li>購入履歴表示</li>
    <li>獲得した称号履歴</li>
    <li>マイページで宣伝している音楽の表示</li>
    <li>購入した音楽、お気に入りの音楽、よかった！した音楽から判定したオススメ音楽の表示</li>
    <li>購入した音楽、お気に入りの音楽、よかった！した音楽から判定したオススメユーザーの表示</li>
</ol>
<h2>
    リンク
</h2>
<ol>
    <li><a href="">マイリスト作者のマイページ</a></li>
    <li><a href="">オススメユーザーのマイページ</a></li>
</ol>


