<h1>お知らせ</h1>
<h2>
    機能
</h2>
<ol>
    <li>お気に入りに入れているユーザーの新着投稿音楽</li>
    <li>イベント情報</li>
    <li>マッチングされたユーザー</li>
</ol>
<h2>
    リンク
</h2>
<ol>
    <li><a href="">音楽再生画面</a></li>
    <li><a href="">イベント情報画面</a></li>
    <li><a href="">マッチングされたユーザーのマイページ</a></li>
</ol>