<h1>ホーム</h1>
<h2>
    機能
</h2>
<ol>
    <li>総合ランキング表示</li>
    <li>運営のオススメ音楽表示</li>
    <li>新着の音楽表示</li>
    <li>トレンドタグ</li>
    <li>トレンドキーワード</li>
    <li>カテゴリ別ランキングへの表示切替</li>
</ol>
<h2>
    リンク
</h2>
<ol>
    <li><a href="">トレンドタグによる検索</a></li>
    <li><a href="">トレンドキーワードによる検索</a></li>
    <li><a href="">音楽再生画面</a></li>
</ol>
