<h1>ホーム</h1>

<%
=begin
%>
<aside class="sidebar">
    <%= render 'sounds/form' %>
    <!-- ↑renderメソッドを用いて、notes/_form.html.erbを呼び出す -->
</aside>
<%
=end
%>
<ul class="notes">
    <h2>投稿の一覧</h2>
    <%= render @sounds %>
    <!-- ↑複数のインスタンスを持ったオブジェクトを渡すと、自動的にeachメソッドが実行され、soundが一つ一つ取り出される。 -->
    <!-- ↑renderメソッドと@soundsを用いて、sounds/_sound.html.erbを呼び出す -->
</ul>

<h2>
    機能
</h2>
<ol>
    <li>総合ランキング表示</li>
    <li>運営のオススメ音楽表示</li>
    <li>新着の音楽表示</li>
    <li>トレンドタグ</li>
    <li>トレンドキーワード</li>
    <li>カテゴリ別ランキングへの表示切替</li>
</ol>
<h2>
    リンク
</h2>
<ol>
    <li><a href="">トレンドタグによる検索</a></li>
    <li><a href="">トレンドキーワードによる検索</a></li>
    <li><a href="">音楽再生画面</a></li>
</ol>


