<tr>
        <td><%= link_to  image_for(sound, index_size_image), sound_path(sound.id) %></td>
        <td><%= link_to sound.title, sound_path(sound.id) %></td>
        <td><%= sound.content %></td>

<%
=begin
%>
        ↑ここでのsoundは定義もとの@soundを表す。
<%
=end
%>

</tr>