<h1>音楽を投稿する</h1>
<p>
    <h3>
        アップロード可能な音声ファイルについて
    </h3>
    <ul>
        <li>アップロード可能な音声ファイルは、mp3、wav、oggのみです。</li>
        <li><%= "ファイルサイズは、" + Settings.size_sound.to_s + "MBまでです。" %></li>
    </ul>
    <h3>
        アップロード可能なサムネイルについて
    </h3>
    <ul>
        <li>アップロード可能な画像ファイルは、jpg、jpeg、gif、pngのみです。</li>
        <li><%= "ファイルサイズは、" + Settings.size_image.to_s + "MBまでです。" %></li>
    </ul>
</p>

<%= render 'form'%>

<%
=begin
%>
    ↑パーシャルファイルと、そのパーシャルを呼び出すファイルが同じフォルダ内にある場合には、呼び出す際にフォルダ名を省略することができる。呼び出す時、_は必要ない。
    ↑<%=# render 'sounds/form' %>と書いても同じ。（#は実際に書く時は、いらない（コメントアウト用）。）
<%
=end
%>
