<h1>音楽を投稿する</h1>

<%= render 'form'%>

<%
=begin
%>
    ↑パーシャルファイルと、そのパーシャルを呼び出すファイルが同じフォルダ内にある場合には、呼び出す際にフォルダ名を省略することができる。呼び出す時、_は必要ない。
    ↑<%=# render 'sounds/form' %>と書いても同じ。（#は実際に書く時は、いらない（コメントアウト用）。）
<%
=end
%>
